<div class="container">
  <h4>Password Recovery</h4>

  <div class="text-center"
       *ngIf="loading">
    <span class="loader loader-xl"></span>
  </div>

  <form [formGroup]="userForm"
        *ngIf="!userData"
        (ngSubmit)="onSubmit()">

    <div class="input-field"
         [class.input-invalid]="username.invalid && !username.untouched">
      <label class="username">Username*:</label>
      <input type="text"
             formControlName="username"
             placeholder="Username or email"
             autofocus="">
    </div>

    <div class="alert alert-warning"
         *ngIf="userNotFound">User not found</div>

    <div class="input-group">
      <button class="button"
              type="submit"
              [disabled]="userForm.invalid">Submit</button>
    </div>

  </form>

  <div class="recovery-form"
       *ngIf="userData && !userDataSaved">

    <div class="alert category alert-success">Recovery code was successfully sent. Please check your email.</div>

    <form [formGroup]="passwordRecoveryForm">

      <h3> Enter New Password</h3>

      <div class="input-field"
           [class.input-invalid]="recoveryCode.invalid && !recoveryCode.untouched">
        <label class="recoveryCode">Recovery Code</label>
        <div class="input-group">

          <input type="text"
                 formControlName="recoveryCode"
                 placeholder="Recovery Code"
                 autofocus="">

        </div>
        <div class="form-group__wrapper-error"
             *ngIf="isControllInvalid(recoveryCode) || passwordRecoveryForm.errors">
          <ng-container *ngIf="isControllInvalid(recoveryCode)">
            <div class="error"
                  *ngFor="let error of getErrors(passwordRecoveryForm.get('recoveryCode'), 'Recovery Code')">
              {{ error }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="input-field"
           [class.input-invalid]="password.invalid && !password.untouched">
        <label class="password">New Password</label>
        <div class="input-group">

          <input id="password"
                 type="password"
                 formControlName="password"
                 placeholder="New Password">

          <label class="input-addon">
            <input type="checkbox" style="display:none" (click)="toggleSecret($event)">
            <span><i class="fa fa-fw fa-eye"></i></span>
          </label>
        </div>
        <div class="form-group__wrapper-error"
             *ngIf="isControllInvalid(password) || passwordRecoveryForm.errors">
          <ng-container *ngIf="isControllInvalid(password)">
            <div class="error"
                  *ngFor="let error of getErrors(passwordRecoveryForm.get('password'), 'Password')">
              {{ error }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="input-field"
           [class.input-invalid]="confirmPassword.invalid && !confirmPassword.untouched">
        <label class="confirmPassword">Verify New Password</label>
        <div class="input-group">

          <input id="confirmPassword"
                 type="password"
                 formControlName="confirmPassword"
                 placeholder="Verify New Password">

          <label class="input-addon">
            <input type="checkbox" style="display:none" (click)="toggleSecret($event)">
            <span><i class="fa fa-fw fa-eye"></i></span>
          </label>
        </div>

        <div class="form-group__wrapper-error"
             *ngIf="isControllInvalid(confirmPassword) || passwordRecoveryForm.errors">
          <ng-container *ngIf="isControllInvalid(confirmPassword)">
            <div class="error"
                 *ngFor="let error of getErrors(passwordRecoveryForm.get('confirmPassword'), 'confirmPassword')">
              {{ error }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="input-group">
        <button class="button"
                (click)="onSave()"
                [disabled]="passwordRecoveryForm.invalid">Save</button>
      </div>

      <div class="input-group">
        <button class="button"
                (click)="onResend()">Resend Recovery Code</button>
      </div>

      <div class="alert category alert-success"
           *ngIf="codeResend">Recovery code was successfully resent</div>

    </form>
    <div class="alert category alert-danger">{{errorText}}</div>
  </div>

  <div class="alert category alert-success"
       *ngIf="userDataSaved">Password was successfully recovered.</div>

  <div class="input-group">
    <p>
      <a routerLink="/">Back to home page</a>
    </p>
  </div>

</div>
